.Name {
    
    text-align: center;
    padding: 3%;
    font-family: 'Redressed', cursive;
    background-color: #dff3e3;
    
    width: 100%;
    height: 100%;
  }
    
.info {
    font-size: 900%;
    color:#65d6ce;
    font-family: 'Cookie', cursive;
    
}
.img1{
    max-height:100px;
    position: relative;
    left: 40%;

  }
.img2{
    max-height:100px;
    position: relative;;
    right: 40%;

  }
.me{
    text-align: center;
    padding: 5%;
    font-family: 'Raleway', sans-serif;
    color: #5eaaa8;
    
}
.abt{
    
    text-align: center;
    font-family: 'Charmonman', cursive;
    background-color: whitesmoke;
    padding: 3%;
    width: 100%;
    height: 100%;

}
.mepar{
    padding: 3%;
    text-align: center;
    font-size: 150%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Charmonman', cursive;
    color: #5eaaa8;
    
    
}
.mei{
    border-radius: 100%;
    max-height:180px;
    position: relative;
    margin-top: 2%;
    
    
}
.int{
    background-color: #a3d2ca;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 5%;
    width: 100%;
    height: 100%;

}
.inte{
    text-align: center;
    color: whitesmoke;
    padding: 3%;
    font-family: 'Raleway', sans-serif;
    

}
.ls{
    font-family: 'Comfortaa', cursive;
    font-size: large;

}
.ico{
    max-width: 4%;
    margin: 2%;
}
